
openapi: 3.0.0
info:
  title: FisioFlow API
  description: API documentation for FisioFlow platform
  version: 3.0.0
servers:
  - url: https://fisioflow.app/api
    description: Production Environment
  - url: http://localhost:54321/functions/v1
    description: Local Development (Supabase Functions)
paths:
  /patients:
    get:
      summary: List patients
      tags: [Patients]
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [active, inactive]
      responses:
        '200':
          description: List of patients
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Patient'
    post:
      summary: Create patient
      tags: [Patients]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientInput'
      responses:
        '201':
          description: Patient created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'

  /appointments:
    get:
      summary: List appointments
      tags: [Appointments]
      parameters:
        - in: query
          name: start_date
          schema:
            type: string
            format: date
        - in: query
          name: end_date
          schema:
            type: string
            format: date
      responses:
        '200':
          description: List of appointments
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Appointment'
components:
  schemas:
    Patient:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        email:
          type: string
          format: email
        status:
          type: string
          enum: [active, inactive]
    PatientInput:
      type: object
      required: [name]
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
    Appointment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        patient_id:
          type: string
          format: uuid
        start_time:
          type: string
          format: date-time
        end_time:
          type: string
          format: date-time
        status:
          type: string
          enum: [scheduled, completed, cancelled, no_show]
